/* 
============
Variable
============
*/
:root {
  --primaryColor: coral;
  --mainBlack: #333;
  --mainWhite: #fff;
  --offWhite: #ccc;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3 linear;
  --mainSpacing: 0.2rem;
}

/* 
============
GLOBAL Style
============
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Code', monospace;
  color: var(--mainWhite);
  background: var(--mainBlack);
  line-height: 1.5;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* set Heading */
h1,
h2,
h3 {
  text-transform: capitalize;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

/* set paragraph */
p {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 2;
}

/* button */
.btn {
  display: inline-block;
  border: 3px solid var(--mainWhite);
  color: var(--mainWhite);
  text-transform: uppercase;
  padding: 0.35rem 0.75rem;
  margin: 1.5rem;
  transition: var(--mainTransition);
  margin-top: 50vh;
}

.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}

/* 
============
Main Navbar
============
*/
.main-navbar {
  background: var(--darkGrey);
  color: var(--mainWhite);
  /* left and right 2rem */
  padding: 0 2rem;
}

/* hilangkan list-style-type */
.main-navbar li {
  list-style-type: none;
}

.main-navbar a {
  display: block;
  text-transform: capitalize;
  /* top/bottom 1rem */
  padding: 1rem 0;
  color: var(--mainBlack);
  /* for smooth if clicked */
  transition: var(--mainTransition);
  letter-spacing: var(--mainSpacing);
}

.main-navbar a:hover {
  color: var(--mainWhite);
}

/* media query if 992px will be grid center */
@media screen and (min-width: 992px) {
  /* change ul be grid for be center for li */
  .main-navbar ul {
    /* max-width: 1170px; */
    max-width: 1170px;
    margin: 0 auto;
    /* be grid here has 4 column*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* and be center */
    text-align: center;
  }
}
